[submodule "themes/hugo-lodi-theme"]
	path = themes/hugo-lodi-theme
	url = https://github.com/VigneshwarRavichandran/hugo-lodi-theme
[submodule "public"]
	path = public
	url = https://github.com/VigneshwarRavichandran/VigneshwarRavichandran.github.io
	branch = master
